<ul id="filters">
    <li>
        <a class="selected" href="#/">All</a>
    </li>
    <li>
        <a href="#/completed">Completed</a>
    </li>
</ul>

<div id="rounding" class="btn-group" data-toggle="buttons-radio">
    <button type="button" class="btn btn-mini btn-primary" data-roundamt="1">Exact time</button>
    <button type="button" class="btn btn-mini btn-primary" data-roundamt="15">Nearest 15 minutes</button>
    <button type="button" class="btn btn-mini btn-primary" data-roundamt="30">Nearest 30 minutes</button>
</div>